##  QTM 151 Final Project
*Group Members: Brooke Mills, Kaegan Ortlund, Madison Chen, Veronica Vargas*

### Introduction
Formula One (F1) is the highest level single seat car racing. Drivers compete in teams of two, with cars from manufacturers - Ferrari, McLaren, RedBull, Mercedes to name a few. The goal of each race is the be the first to cross the finish line after a certain number of laps. Each race is called a Grand Prix and there are a different number every year. Each track is different from the others and occurs in a different country. There are three parts to any race: practice, qualifying rounds, and the race itself. Practice lets drivers test their cars on the track. The Qualifying race has each driver complete laps by themselves to determine starting position. The race is the final and most important piece, where the drivers complete laps totaling up to a certain distance. Drivers are awarded points for both the position they finish in, and whether they set the fastest lap in a race. At the end of the season the points of each driver are totalled up to an overall rank. There are two main competitions in Formula 1: The constructors championshiop, where the team with the most total points is crouwned Constructors Champion, and the Driver's Championship, where the driver with most total points at the end of the season is crowned World Champion. 

Each country has their own F1 drivers. But what country has the best? Having the best atheletes is a point of pride for any country, but the statistics of individuals change every year, and can make it difficult to determine who has the best overall. And what makes a country have the best atheletes anyway? Is it having the fastest lap times? The higest rankings? 

We will analyze the lap speeds, number of wins, and overall ranking, to determine what country has the best drivers over all. (revise) 


**INCLUDE BRIEF DESCRIPTION OF RESULTS HERE**

### Data Description
* The first dataset we will use is 'Drivers'. Each row represents a driver and there are 857 drivers total in the dataest. This dataset contains information on each drivers ID and reference number, name, data of birth, and nationality. 

* The second dataset we will use is 'Results'. Each row represents a driver at a particular race and there are 25840 obesrvations in the dataest. This dataset contains information on the race ID, the driver number and ID, the starting position, finishing postion and time, points earned, and lap speed. 

* The thrid dataset we will use is 'Driver Standing'. Each row is an observation of a driver at a particular race and there are 33902 observations. This dataset contains information on the race ID, driver ID, postition in ranking at end of race, and total number of wins. 

* The fourth dataset we will use is 'Races'. Each row is an

In [112]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [113]:
# Importing Libraries 
drivers = pd.read_csv("data_raw/drivers.csv")
results = pd.read_csv("data_raw/results.csv")
driver_standing = pd.read_csv("data_raw/driver_standings.csv")
races = pd.read_csv("data_raw/races.csv")

# calculating number of rows in each dataset
print(len(drivers))
print(len(results))
print(len(driver_standing))

857
25840
33902

### Merging: 


To create the final Dataset we first subset the columns from the drivers dataset that we will be using. These are the driver Id, which will be used as the key for merging, and the name of the driver and nationality. Then, we merge the drivers dataset with the results dataset, including only the results columns for lap time and rank. Finally, we merge this new dataset with the driver standings dataset, including the columns for number of wins and position.

In [114]:
#filtering out unnecessary columns from drivers
drivers = drivers[["driverId", "surname", "nationality"]]

In [115]:
### Merging datasets

# Merge 'Drivers' and 'Results'
merge1 = pd.merge(drivers,
                         results[["driverId", "raceId", "fastestLapTime", "rank", "points", "milliseconds"]],
                         on = "driverId",
                         how = "left")

# Merge with 'Races' dataset to get year, race
merge2 = pd.merge(merge1,
                         races[["year", "raceId", "name"]],
                         on = "raceId",
                         how = "left")

# Merge with 'Driver Standing' to get final dataset 
f1 = pd.merge(merge2,
                         driver_standing[["driverId","wins", "position", "raceId"]],
                         on = ["driverId", "raceId"],
                         how = "left")

### Data Cleaning:


To prepare the dataset for analysis, we first remove the NAs, which we recorded as a string in the orginial datasets. To do this we replace the NAs with the np.nan value from the library numpy. This allows us to complete analysis on the data without errors from the incalculable NAs. 

Next, we recode the columns for fastest lap and rank. These columns were recorded as strings, but in order to use them in calculations they should be numeric. We first transmute the fastest lap time column to a time value. Then we transmute the rank column to be numeric. Finally, we run a check on column types to ensure that the formationg in corrected.

In [116]:
#Data Cleaning
#replacing NAs in 'fastestLapTime', 'rank', and 'milliseconds columns
f1["fastestLapTime"] = f1["fastestLapTime"].replace('\\N', np.nan)
f1["rank"] = f1["rank"].replace('\\N', np.nan)
f1['milliseconds'] = f1['milliseconds'].replace('\\N', np.nan)

In [117]:
# Data Recoding
f1["rank"] = pd.to_numeric(f1["rank"])
f1["milliseconds"] = pd.to_numeric(f1["milliseconds"])
print(f1.dtypes)

driverId            int64
surname            object
nationality        object
raceId            float64
fastestLapTime     object
rank              float64
points            float64
milliseconds      float64
year              float64
name               object
wins              float64
position          float64
dtype: object

### Descriptive Statistics: 


There are 42 nationalities that have been represented in Formula 1 since 1950, the top 5 being: British (165 drivers), American (158 drivers), Italian (99 drivers), French (73 drivers), and German (50 drivers). 

The nationality with the highest ever number of wins in one season (that is placing 1st) out of around 23 races (which varies per year), is Dutch at 15. Second is German at 13 and third is British at 11. 

Drivers compete to score points at each race, however to score points in Formula 1 a driver must place in the top 10 or set the fastest lap time. Anything below gives zero points. A typical season includes 20 drivers (each team with 2 drivers). This number varies as teams join or leave Formula 1. However, this means that many drivers fail to place in the top 10 during a race and gain zero points. In fact, the nationalities of Malaysia, Indonesia, American-Italian, East German, Czech, Argentine-Italian, Uruguayan, have never seen a driver place in the points. Monegasque drivers score the highest points on average at 6.5, followed by Dutch at 3.2, and Finnish at 3.8. British drivers have the most total points accumulated since 1950 (10,567), followed by German(7,947), and Finnish (4,379). 

Drivers also gain points by setting the fastest lap in a race, given a by placement (rank 1 = fastest, rank 2 = second fastest and so on).Nationalities with highest average rank are Columbian (6th fastest), Monegasque (7th fastest), and Finnish (8th fastest). In other words, thes nationalities have the put out, on average, the fastest, or fast laps.
 
This anlaysis includes the main columns of: 

* Driver ID: A unique code that represents each driver.
* Race ID: A unique code that represents each racetrack.
* Surname: The last name of each driver. 
* Nationality: The country each driver is a citizen of. 
* Rank: For each observation, or race, the rank refers to fastest lap compared to all drivers.
* Year: The season, or year of racing. 
* Name : The name of the circuit, or track.  
* Milliseconds: The finishing time. 
* Wins: The number of total wins a driver has obtained at the up to, and including the race. Note that this is a cumulative value. 
* Position: For each observation, or race, the position of finish (i.e. 1st, 2nd, 3rd, etc.)
* Points: The points given to each driver, determined by position and fastest lap time.

In [57]:

### How many drivers are in each nationality? 

#subset to get unique driver name 
f1_subset1 = f1.drop_duplicates(subset = "driverId")

#group by and count
f1_agg2 = (f1_subset1.groupby("nationality")
                      .agg(Count = ('surname',len)))
#sort in descending order                      
f1_agg2.sort_values(by = "Count", ascending = False)

                   Count
nationality
British              165
American             158
Italian               99
French                73
German                50
Brazilian             32
Argentine             24
Swiss                 23
South African         23
Belgian               23
Japanese              20
Dutch                 18
Australian            18
Austrian              15
Spanish               15
Canadian              14
Swedish               10
Finnish                9
New Zealander          9
Mexican                6
Danish                 5
Irish                  5
Russian                4
Rhodesian              4
Portuguese             4
Uruguayan              4
Monegasque             4
Venezuelan             3
East German            3
Colombian              3
Thai                   2
Indian                 2
Malaysian              1
Liechtensteiner        1
Indonesian             1
Polish                 1
American-Italian       1
Hungarian              1
Czech                  1
Chinese                1
Chilean                1
Argentine-Italian      1

In [95]:
 ### What does the distribution of wins by nationality look like?
f1_subset2 = f1[["nationality", "wins"]]

#query, group by and aggregate
f1_agg2 = (f1_subset2.groupby("nationality")
                      .agg(max_wins = ('wins','max')))
                           
                                                         
#sort values
f1_agg2.sort_values(by = "max_wins", ascending = False)

                   max_wins  mean_wins
nationality
Dutch                  15.0   0.769723
German                 13.0   0.728353
Argentine               6.0   0.623978
British                11.0   0.569096
Monegasque              3.0   0.537879
Brazilian               8.0   0.455176
Spanish                 7.0   0.439951
Finnish                 8.0   0.436283
South African           3.0   0.428571
Austrian                5.0   0.405926
Australian              5.0   0.403681
Canadian                7.0   0.320276
Colombian               3.0   0.297521
French                  7.0   0.239798
New Zealander           2.0   0.212121
Swedish                 4.0   0.141732
Mexican                 2.0   0.140143
Venezuelan              1.0   0.133333
Polish                  1.0   0.125000
American                6.0   0.120094
Belgian                 3.0   0.094991
Swiss                   1.0   0.084536
Italian                 6.0   0.081276
Hungarian               0.0   0.000000
Portuguese              0.0   0.000000
Uruguayan               0.0   0.000000
Thai                    0.0   0.000000
Argentine-Italian       0.0   0.000000
Chilean                 0.0   0.000000
Russian                 0.0   0.000000
Rhodesian               0.0   0.000000
Chinese                 0.0   0.000000
American-Italian        0.0   0.000000
Czech                   0.0   0.000000
Danish                  0.0   0.000000
East German             0.0   0.000000
Malaysian               0.0   0.000000
Liechtensteiner         0.0   0.000000
Japanese                0.0   0.000000
Irish                   0.0   0.000000
Indonesian              0.0   0.000000
Indian                  0.0   0.000000

In [74]:
### What does the distribution of points by nationality look like? 

#subset to get desired columns
f1_subset3 = f1[["nationality", "points"]]

#group by and aggregate
f1_agg3 = (f1_subset3.groupby("nationality")
                      .agg(mean_points = ('points','mean'),
                           sd_points =   ('points','std'),
                           sum_points = ('points', 'sum')))                    
                          
#sort values
f1_agg3.sort_values(by = "sum_points", ascending = False)
f1_agg3.sort_values(by = "mean_points", ascending = False)

                   mean_points  sd_points  sum_points
nationality
British               2.391725   5.079913    10566.64
German                3.333263   5.801839     7946.50
Finnish               3.817350   5.738862     4378.50
French                1.152906   2.580917     3463.33
Brazilian             1.752688   3.251028     3423.00
Spanish               3.535888   5.467119     2906.50
Australian            3.445189   5.684868     2828.50
Italian               0.597326   1.614565     2041.66
Dutch                 4.192708   7.867698     2012.50
Mexican               3.035545   5.094468     1281.00
American              0.780297   1.905487      998.00
Austrian              1.435507   2.597973      990.50
Monegasque            6.477273   7.290552      855.00
Argentine             1.873780   2.906188      698.92
Canadian              1.205752   2.719668      545.00
New Zealander         1.367424   2.226873      541.50
Swedish               0.776471   1.847059      396.00
Belgian               0.656514   1.714975      388.00
Swiss                 0.701613   1.700766      348.00
Colombian             2.456000   3.199052      307.00
South African         1.342857   2.495272      282.00
Polish                2.767677   3.971398      274.00
Russian               1.253521   3.149056      267.00
Japanese              0.398425   1.505090      253.00
Thai                  2.679487   4.301898      209.00
Danish                1.016949   2.530439      180.00
Venezuelan            0.641667   2.687649       77.00
Irish                 0.173913   0.585703       16.00
Portuguese            0.091954   0.658260        8.00
Rhodesian             0.333333   1.414214        6.00
Chinese               0.272727   0.882735        6.00
Indian                0.084746   0.650945        5.00
Chilean               0.081081   0.363500        3.00
Hungarian             0.050000   0.223607        1.00
Malaysian             0.000000   0.000000        0.00
Liechtensteiner       0.000000   0.000000        0.00
Indonesian            0.000000   0.000000        0.00
American-Italian      0.000000   0.000000        0.00
East German           0.000000   0.000000        0.00
Czech                 0.000000   0.000000        0.00
Argentine-Italian     0.000000   0.000000        0.00
Uruguayan             0.000000   0.000000        0.00

In [124]:
### What does it mean to be a fast driver? 

f1_subset4 = f1[["nationality", "rank"]]

#group by and aggregate
f1_agg4 = (f1_subset4.groupby("nationality")
                      .agg(mean_rank = ('rank','mean')))
                         
                        
 #sort                   
f1_agg4.sort_values(by = 'mean_rank', ascending = True)

                   mean_rank
nationality
Colombian           6.023810
Monegasque          7.320388
Finnish             8.006579
Australian          8.862408
Spanish             8.940375
Dutch               8.966245
British             9.015593
German              9.629630
Mexican             9.834459
Thai                9.915254
Brazilian          10.342441
Polish             10.530612
Venezuelan         11.812500
Chinese            11.818182
Russian            12.009434
Danish             12.161972
Canadian           12.527778
French             12.578856
Italian            12.864198
New Zealander      12.960000
Swiss              13.039216
Japanese           13.180328
Austrian           14.000000
Belgian            14.548387
Swedish            14.989691
American           15.066667
Indonesian         16.083333
Portuguese         16.416667
Hungarian          18.833333
Indian             18.913793
American-Italian         NaN
Argentine                NaN
Argentine-Italian        NaN
Chilean                  NaN
Czech                    NaN
East German              NaN
Irish                    NaN
Liechtensteiner          NaN
Malaysian                NaN
Rhodesian                NaN
South African            NaN
Uruguayan                NaN

I only did the describtive statistics for overall - all races ever but 
you can factor in year or season if you'd like.

- remember wins is a cumulative column (make sure you only use wins from the races that are the last in the season if you're looking at total wins, just summing it up will be wrong)

- also consider that if one nationality has a ton of wins (dutch has the highest ever wins for one season but its only due to one driver) that doesnt necessarily mean they're better than another nationality that has several good drivers...or maybe one driver was driving for many years and others for only a few years (just some factors that can determine what makes a nationality "best")

- remember points is cumulative and restarts at every season (and drivers also gain points if they set the fastest lap)

- you can also use points for consistency if you want (to get points uou have to place in the top 10, anything under and you get zero) as well as wins or whatever other measure

- i noticed that when recoding fastestlaptime to date.time type it messed it up a lot so I undid it. 

- Rank is NOT the drivers overall rank in the season competitions it is the rank of fastest lap compared to other drivers - also im pretty sure this data includes practice sessions bc the times aren't the same as the official world records